html {
    width: 6000px;
    height:auto ;
    position: absolute ;
}
h5 {
    position: sticky;
    font-family: icomoon;
    font-size: 12pt;
    top:0px;
    left: 10px;
    /* color: black; */
    border: 2px solid black;
    width: 330px;
    text-align: center;
    color: rgb(47, 47, 193);
}
h6 {
    font-family: icomoon;
    font-size: 12pt;
    top: 0px;
    left: 10px;
    /* color: black; */
    color: rgb(47, 47, 193);
    border: 2px solid black;
    width: 100px;  
    position: sticky;
    text-align: center;
}
h5:hover {
    color:rgb(47, 47, 193) ;
}
h6:hover {
    color:rgb(47, 47, 193) ;
}

a {
    color: inherit;
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    width: 100%;
}
